<nav>
    <ul>
        <li><a href="{{ path('trucs_list') }}">Accueil</a></li>
        <li><a href="{{ path('trucs_add') }}">Proposer un trucs</a></li>
        <li><a href="{{ path('trucs_list', {me: true}) }}">Mes trucs</a></li>
        <li><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
    </ul>
</nav>
